@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600&display=swap');
@import 'vendor.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      @apply text-white;
   }

   body {
      @apply bg-gradient-app;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      @apply text-gray-800;
      @apply font-secondary;
   }
}

@layer components {
   .fade-enter {
      opacity: 0.01;
   }

   .fade-enter.fade-enter-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
   }

   .fade-leave {
      opacity: 1;
   }

   .fade-leave.fade-leave-active {
      opacity: 0.01;
      transition: opacity 300ms ease-in;
   }
}

#root {
   @apply h-screen overflow-hidden;
}

@layer utilities {
   .border-glitch-effect {
      @apply hover:shadow-glitch transition duration-100 ease-in;
   }

   .absolute-center {
      @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
   }
}

/*Navbutton styles based on ReactRouter <active> state*/
a.active button {
   @apply bg-neutral-700;
}

a.active svg * {
   @apply transition-all stroke-white;
}

/*Copy icon in Json Raw*/
.copy-wrapper:hover svg {
   fill: white !important;
}

/*Scrollbar*/
* {
   --scrollbar-color: transparent;
}

*:hover,
*:focus,
*:focus-within {
   --scrollbar-color: rgba(255, 255, 255, 0.3) !important;
   --scrollbar-active-color: rgba(255, 255, 255, 0.5) !important;
}
*::-webkit-scrollbar {
   display: block;
   width: 6px;
   height: 6px;
}

*::-webkit-scrollbar-button {
   display: none;
}

*::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
   background-color: transparent;
}

*::-webkit-scrollbar-track-piece {
   background-color: transparent;
}

*::-webkit-scrollbar-thumb {
   background-color: var(--scrollbar-color);
   border-radius: 24px;
}

*::-webkit-scrollbar-thumb:hover {
   background-color: var(--scrollbar-active-color);
}

/*Autofill styles*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   @apply outline-neutral-400 text-base;
   -webkit-text-fill-color: white;
   box-shadow: 0 0 0 1000px transparent inset;
   transition: background-color 5000s ease-in-out 0s;
}

input[type='radio'] {
   @apply appearance-none text-asylum-blue w-4 h-4 bg-neutral-300 rounded-full border-4 border-transparent transition-colors duration-75 cursor-pointer;
}

input[type='radio']:checked {
   @apply border-asylum-blue;
}
